<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Movie Club</title>
</head>
<body>
    <nav>
        <div class="container nav-container">
           <a href="/" class="logo" id="logo">Movie Club</a>
           <form class="search" method='GET' action="/search">
               <button type="submit">
                <i id='search-btn' class="fas fa-search"></i>
                </button>
                <input type="text" id='search' name="query" placeholder="">

           </form>
        </div>

    </nav>

    